<%= link_to 'Add Photo', new_photo_path(:d => @dive.id), class: 'btn btn-lg btn-primary pull-right' %></h1>


  <div class="row">
    <div class="col-sm-12">
      <ul class="list-group">

        <% @dive.photos.each do |photo| %>
          <li class="list-group-item">              
            <div class="row">
              <div class="col-sm-2">
                <%= link_to image_tag(photo.photograph.url(:thumb)), image_path(photo.photograph.url(:original)), :target => "_blank" %>
              </div>
              <div class="col-sm-2">
                <% photo.tag_list.each do |t| %>
                  <%= link_to t, tag_path(t), class: "label label-primary" %>
                <% end %>
              </div>
              <div class="col-sm-2">
                <%= photo.photo_filename %>
              </div>
              <div class="col-sm-2">
                <%= link_to photo.user.name, "/users/" + photo.user_id.to_s %>
              </div>
              <div class="col-sm-2">
                <%= photo.photo_date.strftime("%Y") %>
              </div>
              <div class="col-sm-2">
              </div>
              <div class="col-sm-2">
                <div class="btn-group">
                  <%= link_to 'Show', photo_path(photo), class: "btn btn-sm btn-default" %>
                  <% if (signed_in? && current_user == photo.user) | (signed_in? && current_user.admin?) %>
                    <%= link_to 'Edit', edit_photo_path(photo), class: "btn btn-sm btn-default" %>
                  <% end %>
                </div>
                <% if (signed_in? && current_user == photo.user) | (signed_in? && current_user.admin?) %>
                  <%= link_to 'X', photo_path(photo), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default btn-danger" %>
                <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

